# How to reproduce <issue description>

(use this example to create a 'repro.md' file for submittal

## Reproduction steps

1. Clone this repository
2. Run the following command from the repo root:

```bash
pac canvas pack --msapp new.msapp --sources src
```

## Example results

```
$ pac canvas pack --msapp new.msapp  --sources debugsrc
Warning: canvas pack is in preview, and functionality is not guaranteed. Use extreme caution if using in a production environment. For more information see https://aka.ms/paccanvas
Pack from E:\git\stuff-portal\msapp\debugsrc --> E:\git\stuff-portal\msapp\new.msapp
  source format version: 0.24
Microsoft PowerPlatform CLI
Version: 1.32.8+gf89d946
Online documentation: https://aka.ms/PowerPlatformCLI
Feedback, Suggestions, Issues: https://github.com/microsoft/powerplatform-build-tools/discussions

Error: Error   PA3001: Internal error. Object reference not set to an instance of an object.
Stack Trace:
   at Microsoft.PowerPlatform.Formulas.Tools.SourceTransforms.GalleryTemplateTransform.BeforeWrite(BlockNode control)
   at Microsoft.PowerPlatform.Formulas.Tools.SourceTransforms.SourceTransformer.ApplyBeforeWrite(BlockNode control, Boolean inResponsiveContext)
   at Microsoft.PowerPlatform.Formulas.Tools.SourceTransforms.SourceTransformer.ApplyBeforeWrite(BlockNode control, Boolean inResponsiveContext)
   at Microsoft.PowerPlatform.Formulas.Tools.CanvasDocument.ApplyBeforeMsAppWriteTransforms(ErrorContainer errors)
   at Microsoft.PowerPlatform.Formulas.Tools.MsAppSerializer.SaveAsMsApp(CanvasDocument app, String fullpathToMsApp, ErrorContainer errors, Boolean isValidation)
```
